<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .hidden {
        display: none;
      }

      #backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
      }

      #modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 101;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      }

      .copy {
        font-size: 0.8rem;
      }
    </style>
    <title>APIs</title>
  </head>
  <body class="container bg-dark text-white d-flex flex-column vh-100">
    <div class="container">
      <h1 class="my-3">APIs</h1>
      <a href="/api/user" class="btn btn-secondary mb-3">Dashboard</a>
      <a href="" id="showForm" class="btn btn-primary mb-3">Create API key</a>
      <table class="table table-dark table-striped mt-3">
        <caption>
          Your API(s):
        </caption>
        <thead>
          <tr>
            <th>API Name</th>
            <th>Key</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% apis.forEach(api => { %>
          <tr>
            <td><%= api.apiName %></td>
            <td>
              <a href="" data-api-key="<%= api.apiKey %>" class="text-primary">
                <%= api.apiKey.substring(0,8)+ '********' + api.apiKey.substring( api.apiKey.length-8, api.apiKey.length) %>
              </a>
            </td>
            <td><%= api.createdAt %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <div id="backdrop" class="hidden"></div>

    <div id="modal" class="hidden bg-dark">
      <form method="post" action="/api/user/api_keys" class="p-3">
        <div class="mb-3">
          <label for="apiName" class="form-label">API Name:</label>
          <input type="text" id="apiName" name="apiName" class="form-control" />
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <button type="button" id="cancel" class="btn btn-secondary">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

    <div
      class="d-flex justify-content-center align-items-end"
      style="height: 100vh"
    >
      <p class="copy text-center">
        Use
        <a
          href=""
          data-api-key="https://coupon-api-l11h.onrender.com/api/your_api_key?category=your_category"
          class="text-primary"
        >
        https://coupon-api-l11h.onrender.com/api/your_api_key?category=your_category
        </a>
        to access your coupons
      </p>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const showForm = document.getElementById("showForm");
        const modal = document.getElementById("modal");
        const backdrop = document.getElementById("backdrop");
        const cancel = document.getElementById("cancel");

        showForm.addEventListener("click", (event) => {
          event.preventDefault(); // Prevent the link from navigating to a new page
          modal.classList.remove("hidden"); // Show the modal
          backdrop.classList.remove("hidden"); // Show the backdrop
        });

        cancel.addEventListener("click", () => {
          modal.classList.add("hidden"); // Hide the modal
          backdrop.classList.add("hidden"); // Hide the backdrop
        });
      });

      document.addEventListener("DOMContentLoaded", () => {
        const apiLinks = document.querySelectorAll("a[data-api-key]");

        apiLinks.forEach((link) => {
          link.addEventListener("click", (event) => {
            event.preventDefault(); // Prevent the link from navigating to a new page

            const apiKey = event.currentTarget.getAttribute("data-api-key");
            navigator.clipboard.writeText(apiKey); // Copy the API key to the clipboard
          });
        });
      });
    </script>
  </body>
</html>
