<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      h1 {
        text-align: center;
        margin-top: 50px;
      }
      p {
        text-align: center;
        margin-top: 20px;
      }
      a {
        text-decoration: none;
        color: #007bff;
      }
    </style>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to Coupon Creation Website.</h1>
    <p>
      <a href="/api/user/login">Login</a> or
      <a href="/api/user/register">Register</a> to create coupons.
    </p>
    <!-- to have a brief on this project, here's the API documentation  -->
    <p>
      <a href="/api-docs">API Documentation</a>
    </p>
  </body>
</html>
