<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-color: black;
      }
    </style>
    <title>Message</title>
  </head>
  <body
    class="text-white d-flex flex-column justify-content-center align-items-center"
    style="height: 100vh"
  >
    <!-- if error sent then show it else the message -->
    <% if (error) { %>
    <h1>Opps!Something went wrong!!</h1>
    <h1><%= error %></h1>
    <% } else { %>
    <h1><%= message %></h1>
    <% } %>
  </body>
</html>
